body {
  background-color: Black;
  font-family: 'Titillium Web',sans-serif;
}
h1 {
    color: Blue;
    font-size: 40px;
}
ol {
    color: Orange;
}
p {
     color: Red;
}
#list {
    color: blue;
    font-size: 30px;
}
